<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ElderBlissCare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Elderblisscare1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>elderblisscare1.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>elderblisscare1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>ElderBlissCare needs camera access to capture medical documents and profile photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>ElderBlissCare needs contacts access to add emergency contacts and family members.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>ElderBlissCare would like to access your health data to provide better care recommendations.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>ElderBlissCare would like to update your health data with medical information.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ElderBlissCare needs location access for emergency services and safety monitoring.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ElderBlissCare needs location access to provide emergency services and find nearby healthcare facilities.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ElderBlissCare needs photo library access to save and retrieve medical documents and photos.</string>
	<key>PermissionGroupNotification</key>
	<string>ElderBlissCare needs to send you notifications about meal updates and other important messages.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-fetch</string>
		<string>background-processing</string>
		<string>background-app-refresh</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
